!!!
%html
  %head
    %title= @head_title || 'Онлайн статистика'
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #banner
      Онлайн статистика
      #login
        - if current_user
          Вы можете
          = link_to 'покинуть систему', logout_url, method: :delete
          здесь.
          %br
          = "Здравствуйте #{current_user.email}"
    #columns
      #side
        %ul
          %li= link_to_unless_current 'Online', main_path
          %li= link_to_unless_current 'On date', on_date_path
      #main

        = yield

      #copyright
        Copyright by &copy; 2013 NewMedia
